@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Merienda:wght@300..900&family=UnifrakturMaguntia&display=swap');

body{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Marmelad', sans-serif; */
}
#root{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}